{% extends 'base.html.twig' %}

{% block title %}{{ 'action_reset_password'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'action_reset_password'|trans }}</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.oldPlainPassword) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">{{ 'action_reset_password'|trans }}</button>
    {{ form_end(resetForm) }}
{% endblock %}
