{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_tag_view'|trans({'%id%': tag.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_tag_view'|trans({'%id%': tag.id|default('')}) }}</h1>

    <p>
        <a href="{{ url('tag_index') }}" title="{{ 'action_back_to_list'|trans }}">{{ 'action_back_to_list'|trans }}</a>
    </p>

    {% if tag is defined and tag|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ tag.id }}</dd>
            <dt>{{ 'label_created_at_m'|trans }}</dt>
            <dd>{{ tag.createdAt|format_date('long')}}</dd>
            <dt>{{ 'label_updated_at_m'|trans }}</dt>
            <dd>{{ tag.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{ tag.title }}</dd>
            <dt>{{ 'label_tapes_in_tag'|trans }}</dt>
            <dd>
                {% if tag.tapes is defined and tag.tapes|length %}
                    {% for tape in tag.tapes %}
                        <a href="{{ url('tape_show', {id: tape.id}) }}" title="{{ tape.title }}">{{ tape.title }}</a><br>
                    {% endfor %}
                {% endif %}
            </dd>
        </dl>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}