{% extends 'base.html.twig' %}

{% block title %}
    {{ tape.title|default('') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <a href="{{ url('tape_index') }}" title="{{ 'action_back_to_list'|trans }}">{{ 'action_back_to_list'|trans }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-9 text-info">
            <h1>{{ tape.title|default('') }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if tape is defined and tape|length %}
            <dl class="dl-horizontal">
                <dt>{{ 'label_created_at'|trans }}</dt>
                <dd>{{ tape.createdAt|format_date('long')}}</dd>
                <dt>{{ 'label_updated_at'|trans }}</dt>
                <dd>{{ tape.updatedAt|format_date('long') }}</dd>
                <dt>{{ 'label_category'|trans }}</dt>
                <dd><a href="{{ url('category_show', {id: tape.category.id}) }}" title="{{ tape.category.title }}">{{ tape.category.title }}</a></dd>
                <dt>{{ 'label_tags'|trans }}</dt>
                <dd>
                    {% if tape.tags is defined and tape.tags|length %}
                        {% for tag in tape.tags %}
                            {{ tag.title }}
                        {% endfor %}
                    {% endif %}
                </dd>
                {% if tape.image.filename is defined %}
                <dt>Image</dt>
                <dd>
                    <img src="{{ asset('uploads/images/' ~ tape.image.filename) }}" title="tapeImage" alt="Tape {{ tape.id }} image"><br>
                </dd>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ url('image_edit', {id: tape.image.id}) }}" class="btn btn-primary" title="{{ 'label_edit_image'|trans }}">{{ 'label_edit_image'|trans }}</a>
                    <a href="{{ url('image_delete', {id: tape.image.id}) }}" class="btn btn-primary" title="{{ 'label_delete_image'|trans }}">{{ 'label_delete_image'|trans }}</a>
                {% endif %}
                {% else %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ url('image_create', {id: tape.id}) }}" class="btn btn-primary" title="{{ 'label_add_image'|trans }}">{{ 'label_add_image'|trans }}</a>
                {% endif %}
                {% endif %}
    {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                <dt>My Note</dt>
                    {% if rating %}
                        <dd>{{ rating.note|rating }}</dd><br>
                        <a href="{{ url('rating_edit', {id: rating.id}) }}" class="btn btn-light" title="{{ 'label_rate'|trans }}">{{ 'label_rate'|trans }}</a>
                    {% else %}
                        <dd><a href="{{ url('rating_create', {id: tape.id}) }}" class="btn btn-light" title="{{ 'label_rate'|trans }}">{{ 'label_rate'|trans }}</a></dd>
                    {% endif %}
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col">
        {% if tape.availability == 1 %}
            <a href="{{ url('reservation_create', {id: tape.id}) }}" class="btn btn-light" title="{{ 'label_rent'|trans }}">{{ 'label_rent'|trans }}</a>
        {% else %}
            {{ 'label_not_available'|trans }}
        {% endif %}
        </div>
    </div>
    {% endif %}
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
        </div>
    </div>
{% endblock %}