{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_rating_view'|trans({'%id%': rating.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_rating_view'|trans({'%id%': rating.id|default('')}) }}</h1>

    <p>
        <a href="{{ url('rating_index') }}" title="{{ 'action_back_to_list'|trans }}">{{ 'action_back_to_list'|trans }}</a>
    </p>

    {% if rating is defined and rating|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ rating.id }}</dd>
            <dt>{{ 'label_author'|trans }}</dt>
            <dd>{{ rating.author.email }}</dd>
            <dt>{{ 'label_tape'|trans }}</dt>
            <dd>{{ rating.tape.title }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ rating.createdAt|format_date('long')}}</dd>
            <dt>{{ 'label_updated_at'|trans }}</dt>
            <dd>{{ rating.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label_note'|trans }}</dt>
            <dd>{{ rating.note|rating }}</dd>
        </dl>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}