{% extends 'base.html.twig' %}

{% block title %}{{ 'action_register'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'action_register'|trans }}</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn">{{ 'action_register'|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
