{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_tag_list'|trans }}
{% endblock %}

{% block body %}
        <p>
            <a href="{{ url('tag_create') }}" title="{{ 'action_add'|trans }}">{{ 'action_add'|trans }}</a>
        </p>

    <h1>{{ 'title_tag_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'tag.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'tag.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at_m'|trans, 'tag.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_updated_at_m'|trans, 'tag.updatedAt') }}</th>
                    <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.title }}</td>
                    <td>{{ tag.createdAt|format_date('long') }}</td>
                    <td>{{ tag.updatedAt|format_date('long') }}</td>
                        <td>
                            <a href="{{ url('tag_show', {id: tag.id}) }}" title="{{ 'action_view'|trans }}">{{ 'action_view'|trans }}</a>
                            <a href="{{ url('tag_edit', {id: tag.id}) }}" title="{{ 'action_edit'|trans }}">{{ 'action_edit'|trans }}</a>
                            {% if not tag.tapes|length %}
                                <a href="{{ url('tag_delete', {id: tag.id}) }}" title="{{ 'action_delete'|trans }}">
                                    {{ 'action_delete'|trans }}
                                </a>
                            {% endif %}
                        </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_flash_message.html.twig' with {
                type: 'warning',
                message: 'message_empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock  %}